body {
    font-family: Helvetica,Arial,sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/*#notification-wrapper {
  margin: auto;
  width: 450px;
  box-shadow: inset 0 0 2px 2px #ffffff, 0 1px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  display: block;
}*/
#notification-wrapper header {
  padding: 8px 15px;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #D4D4D4;
}
#notification-wrapper p {
  font-weight: bold;
  font-size: 13px;
}
#notification-wrapper ul .new {
  background-color: #f0f5f9;
}
#notification-wrapper ul .new .image img {
  border: 1px solid #D4D4D4;
}
#notification-wrapper ul li {
  border-bottom: 1px solid #D4D4D4;
}
#notification-wrapper ul li:last-child {
  border-bottom: none;
}
#notification-wrapper ul li:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#notification-wrapper ul li img {
  height: 72px;
  width: 120px;
  float: left;
}
#notification-wrapper ul li p {
  font-size: 13px;
}
#notification-wrapper ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
#notification-wrapper ul li a:hover {
  color: #E83650;
}
#notification-wrapper ul li section.notification-box {
  display: inline-block;
  padding: 8px;
  min-height: 80px;
  width: 380px;
}
#notification-wrapper ul li section.notification-box div.image {
  width: 130px;
  display: block;
  float: left;
}
#notification-wrapper ul li section.notification-box div.image p {
  display: inline;
  margin: 0;
  width: 100px;
}
#notification-wrapper ul li section.notification-box div.message {
  float: left;
  width: 250px;
}
#notification-wrapper ul li section.notification-box div.message p {
  margin: 0;
}
#notification-wrapper ul li section.notification-box div.message p.content {
  padding-top: 8px;
  line-height: 18px;
  font-weight: bold;
  color: #E83650;
}
#notification-wrapper ul li section.notification-box div.message p.content img {
  float: left;
  width: 24px;
  height: 24px;
  display: block;
  padding: 0;
  margin-left: 10px;
}
#notification-wrapper ul li section.notification-box div.message p.content span {
  display: block;
  float: left;
  width: 196px;
  margin-left: 10px;
}
#notification-wrapper ul li section.notification-box div.message p.time {
  font-size: 10px;
  float: right;
  margin-top: 5px;
}
